<h1>Membase On Rails</h1>

<h2>Set a message</h2>

<% form_tag({:controller => "home", :action => "set"}, :method => "post") do %>
  <%= label_tag(:message, "Key:Value to store:") %>
  <%= text_field_tag(:message) %>
  <%= select_tag(:host, options_from_collection_for_select(@hosts, 'hostname', 'hostname'),:multiple => false) %>
  <%= submit_tag("Store") %>
<% end %>

<% if flash[:store] %>
  <p>store a message!</p>
<% end %>

<h2>Get a Key</h2>

<% form_tag({:controller => "home", :action => "get"}, :method => "post") do %>
  <%= label_tag(:message, "Key to get:") %>
  <%= text_field_tag(:message) %>
  <%= select_tag(:host, options_from_collection_for_select(@hosts, 'hostname', 'hostname'),:multiple => false) %>
  <%= submit_tag("Get") %>
<% end %>

<% if flash[:got] %>
  <p>Got message: <%= h(flash[:got]) %></p>
<% end %>
